<h1>Please enter your name and choose a colour:</h1>
<%= form_for([@game, @game.players.build]) do |f| %>
    <%= f.text_field :name, :value => @player.name %><br/ >
    <% @game.slots.each do |slot| %>
        <%= f.radio_button :slot, slot %>
        <%= f.label :slot, :value => slot do -%>
        <% '<div id=dice#{slot}></div>'.html_safe %>
        <% end %>
    <% end %>
    <br />
    <%= f.button "Join Game" %><br />
<% end %>
<% if @player.errors.any? %>
    <h2>Error</h2>
    <ul>
    <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
<% end %>
